<header class="row">
  <h1 class="col-12 fs-2 text-center">
    <%= @team.name %>
  </h1>
</header>

<%= react_component('TeamVote', {
  teamID: @team.id,
  currentUserID: current_user.id,
  currentUserFirstName: current_user.first_name,
  currentUserLastName: current_user.last_name
}) %>
